.authModal {
  display: block;
  align-self: center;
  padding: 10px;
}

.authHeader {
  display: flex;
  align-items: center;
} 

.authModal h1 {
  text-align: center;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.emailInput, .passwordInput {
  margin: 15px 15px;
}

.authModal label {
  color: #1A202C;
  font-size: 22px;
}

.authModal input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  /* padding-bottom: none; */

  border: 1px solid #000;
  border-radius: 25px;
}

/* Sets padding inside the input field */
.emailInput input[type=text],
.passwordInput input {
  font-size: 18px;
  padding: 5px 10px;
}

/* Removes outline box when input field is focused */
.authModal input:focus {
  outline-style: inherit;
}

.authModal button {
  background-color: rgba(216, 233, 239, 0);
  font-style: italic;
  font-size: 16px;

  margin: 4px 4px;
  padding: 5px 10px;

  outline: none;
  
  border-color: #D8E9EF;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}

.authModal button:hover {
  background-color: rgba(216, 233, 239, 1);
}

.authModal button:focus,
.authModal button:visited {
  background-color: rgba(216, 233, 239, 1);
}

.authModal span {
  font-size: 15px;
  font-style: italic;

  margin-left: 8px;
}

.authModal span:hover {
  text-decoration-line: underline;
}