.homeWrap {
  display: grid;
  grid-template-rows: repeat(4, .5fr);
  /* gap: 1em; */

  /* Material style shadow to be applied to components */
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .25); */

  padding-top: 25px;
  padding-bottom: 25px;

  border-color: #E85871;
}

/* Remove before final build! */
.carouselSection, .updateSection,
.aboutSection, .serviceSection,
.infoSection {
  border: 2px solid #000
}
/* Remove before final build! */

.carouselSection {
  justify-content: center;
}

.updateSection {
  /* display: inline-block; */
  float: left;
  background-color: rgba(0, 0, 0, .1);
  max-width: 200px;
  height: auto;
}

.infoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactForm {
  justify-content: start;
  padding-left: 0;
  margin: 0;
}