/*
  <NavLink> Compiles into HTML code that looks like <a href="/"><a> 
  That's why CSS targetting <a> works!
*/

nav {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 22px;

  margin: 25px 50px;

  position: sticky;
  top: 8px;
}

.nav-items {
  list-style-type: none;

  background-color: #FFFFFF;

  padding: 10px;

  border-style: solid;
  border-width: 2px;
  border-color: #E85871;
  border-radius: 25px;
}

nav #logo {
  color: #E85871;
  text-decoration: none;
  padding: 2px 7px;
}

.nav-items li {
  display: inline-flex;
  float: right;
  color: #E85871;
  
  padding: 2px 25px;
}

#navlink a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

#navlink a:hover, #navlink span:hover {
  cursor: pointer;
  font-style: italic;
  transform: scale(1.1);
  transition-property: all 10s;
  color: inherit;
  opacity: .6;
}

#navlink .activeServices {
  /* color: #4EA1D3; */
  font-style: italic;
  text-decoration: underline;
  /* text-decoration-color: #4EA1D3; */
}

#navlink .activeAbout {
  /* color: #91D5ED; */
  font-style: italic;
  text-decoration: underline;
  /* text-decoration-color: #91D5ED; */
}

#navlink .activeContact {
  /* color: #454552; */
  font-style: italic;
  text-decoration: underline;
  /* text-decoration-color: #454552; */
}